<div class="container pt-5">
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card px-3">
                        <div class="card-body">
                            <h4 class="card-title text-center">TODO LIST FORM</h4>
                            <hr>

                            <form (ngSubmit)="onSubmit()" [formGroup]="todoForm">
                                <div class="row">
                                  <div class="col-md-5">
                                    <label for="Title">Title</label>
                                    <input type="text" class="form-control" placeholder="TODO TITLE" formControlName="title">
                                  </div>
                                  <div class="col-md-5">
                                    <label for="Title">Deadline</label>
                                    <input type="date" class="form-control" placeholder="DEADLINE" formControlName="deadline">
                                  </div>
                                  <div class="col-md-2" style="padding-top: 30px;">
                                    <button type="submit" class="add btn btn-primary btn-raised btn-block">
                                        Add
                                    </button> 
                                  </div>
                                </div>
                              </form>

                              
                            <hr>
                            <h4 class="card-title" *ngIf="todos">Todo list</h4>
                            <div class="list-wrapper" *ngIf="todos">

                                <ul class="list-group">
                                    <div *ngFor="let td of todos">
                                        <li class="list-group-item" [ngClass]="{'active':!td.status}" >
                                            {{td.title}}     -   {{td.deadline}}
                                             <button class="btn btn-sm float-right btn-raised btn-danger ml-1" (click)="deleteTd(td.id)">
                                                 <app-icon [icon]="icons.delete"></app-icon>
                                             </button>
                                             <button class="btn btn-sm btn-raised btn-info float-right" (click)="changeStatus(td)">
                                                 <app-icon [icon]="td.status?icons.save:icons.close"></app-icon>
                                             </button>
                                         </li>    
                                         <hr>
                                    </div>
                                                     
                                  </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>